pipeline/incrementaldataloadPipeline.json
{
	"name": "incrementaldataloadPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.config where Enabled=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableSRGConfigTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.Value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'CRM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Copy SRC To STG incremental').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().Incremental_Full_Load,1))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy SRC to STG FULL Load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().Table_Name}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "AzureCustomerTable",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "AzureSqlTableSRGConfigTable",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "@{item().Table_Name}"
												}
											}
										]
									},
									{
										"name": "Get MaxLastUpdateDate Copy",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Copy SRC to STG FULL Load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select max(Last_Updated_Date) as MaxD from @{item().Table_Name}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "AzureSqlTableSRGConfigTable",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "@{item().Table_Name}"
												}
											},
											"firstRowOnly": false
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Get Max_LastUpdate from Config",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select Max_LastUpdateDate from dbo.config where Table_Name like '@{item().Table_Name}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "AzureSqlTableSRGConfigTable",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Copy SRC To STG incremental",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Get Max_LastUpdate from Config",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().Table_Name}\nwhere \nConvert(varchar(max),Last_Updated_Date,120) >\nsubstring(replace(@'{activity('GET Max_LastUpdateDate from config').output.firstRow.Max_LastUpdateDate}', 'T', ' '),0,20),120\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "AzureCustomerTable",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "AzureSqlTableSRGConfigTable",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "@{item().Table_Name}"
												}
											}
										]
									},
									{
										"name": "Get Max LastUpdateDate",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Copy SRC To STG incremental",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select max(Last_Updated_Date) as MaxD from @{item().Table_Name}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "AzureSqlTableSRGConfigTable",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "@{item().Table_Name}"
												}
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Update Max Last_UpdateDate in Config",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Get Max LastUpdateDate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "update config(\nset Max_LastUpdateDate=@'{activity('GET Max_LastUpdateDate').output.firstRow.MaxD}'\nwhere Table_Name like '@{item().Table_Name}'\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "AzureCustomerTable",
												"type": "DatasetReference"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-09-28T05:58:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}